## 문제 1
다음 코드의 출력 결과는 무엇인가요?

my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[2])
print(my_tuple[4])
print(my_tuple[6])

## 문제 2
다음 튜플에서 값 4의 인덱스를 구하세요.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

## 문제 3
다음 튜플에서 요소 3의 개수를 구하세요.

In [ ]:
my_tuple = (1, 3, 3, 3, 5, 3)

## 문제 4
다음 코드의 출력 결과는 무엇인가요?

my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[::-1])

## 문제 5
튜플 my_tuple = (10, 20, 30, 40, 50)에서 첫 번째 요소와 마지막 요소를 제외한 중간 요소들로만 이루어진 튜플을 구하세요.

## 문제 6
다음 코드의 출력 결과는 무엇인가요?

my_tuple = tuple('hello')
print(my_tuple)

### 문제 6-1
튜플 (1, 2, 3)을 리스트 [1, 2, 3]으로 변환하는 코드를 작성하세요.

## 문제 7
튜플 my_tuple = (1, 2, 3)이 있습니다. 이 튜플에 4를 추가하여 (1, 2, 3, 4)로 만들고 싶습니다. 어떻게 해야 하나요?

## 문제 8
다음 코드의 출력 결과는 무엇인가요?

a = (1, 2)
b = (3, 4)
print(a * 2 + b)

## 문제 9
다음 코드의 출력 결과는 무엇인가요?

my_tuple = (1, [2, 3], 4)
my_tuple[1][0] = 'a'
print(my_tuple)

## 문제 10
다음 코드의 출력 결과는 무엇인가요?

a = (1, 2)
b = (3, 4)
a, b = b, a
print(a)
print(b)

my_tuple = (1, 2, 3)
x, y, z = my_tuple
print(x, y, z)

def func():
    return 1, 2, 3

result = func()
print(type(result))

## 문제 11
다음 튜플에서 최대값과 최소값을 구하세요.

In [ ]:
numbers = (5, 2, 8, 1, 3)

## 문제 12
튜플 (1, 2, 3, 4, 5)를 문자열 '1 2 3 4 5'로 변환하는 코드를 작성하세요.